<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Employee Booking Page</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome To The Employee Booking Page!</h1>
      <p>On this page you will be able to book the available hotel that you have already searched for.<br/> 
        In order to complete the booking, you must input some personal data of the customer.
        <br/>Once you are done this please press the button titled 'Finish Booking' 
        <br/>If you wish to go back to the search page, please press the button titled 'To Search'.
        <br/>If you wish to return to the homepage, please click on the button titled 'Go Home'.
      </p>
      <hr/>
        <form action="/backHome" method="POST">
          <input type="submit" value="Go Home" class="btn" />
        </form>
        <form action="/employeeBackToSearch" method="POST">
            <input type="submit" value="To Search" class="btn"/>
        </form>
        <span style="display: block; height: 10px;"></span>
        <form action="/employeeFinishBooking"  method = "POST">
          <input 
            type = 'text'
            name = 'customerSIN'
            placeholder = 'Enter the SIN number of the customer'/> 
          
          <input
            type = 'text'
            name = 'customerFirstName'
            placeholder = 'Enter the first name of the customer'
          />
          <input
          type = 'text'
          name = 'customerMiddleName'
          placeholder = 'Enter the middle name of the customer (leave blank if not applicable)'
          />  
          <input
          type = 'text'
          name = 'customerLastName'
          placeholder = 'Enter the last name of the customer'
          />
          <input
          type = 'text'
          name = 'customerHouseNumber'
          placeholder = 'Enter the house number of the customer'
          /> 
          <input
          type = 'text'
          name = 'customerStreetName'
          placeholder = 'Enter the street name of the customer'
          />  
          <input
          type = 'text'
          name = 'customerPostalCode'
          placeholder = 'Enter the postal code of the customer'
          /> 
          <input
          type = 'text'
          name = 'customerApartmentNumber'
          placeholder = 'Enter the apartment number of the customer (leave blank if not applicable)'
          /> 
          <input
          type = 'text'
          name = 'customerCity'
          placeholder = 'Enter the city name of the customer'
          /> 
          <input
          type = 'text'
          name = 'customerProvince'
          placeholder = 'Enter the province name of the customer'
          /> 
          <input
          type = 'text'
          name = 'customerCountry'
          placeholder = 'Enter the country name of the customer'
          />
          <input
          type = 'text'
          name = 'customerPhoneNumber'
          placeholder = 'Enter the phone number of the customer'
          />
          <input
          type = 'text'
          name = 'numberOfOccupants'
          placeholder = 'Enter the amount of people staying'
          />
          <input type="submit" value ="Finish Booking" class = "btn"/>
        </form> 
    </div>
  </body>
</html>